    <%- include("../included/head.ejs") %>
  </head>
  <body>
    <%- include("../included/header/header.ejs", {page}) %>
    <main class="pageStructure">
      <h1 class="page-title">View Orders</h1>
     <%- include("../included/message.ejs")  %>
    </main>
    <%- include("../included/footer.ejs") %>
 </body>
 </html>