    <%- include("../included/head.ejs") %>
  </head>
  <body>
    <%- include("../included/header/header.ejs") %>
    <main class="pageStructure">
      <h1>Payments</h1>
    </main>
    <%- include("../included/footer.ejs") %>
  </body>
</html>
