.order-container {
  background-color: #444;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.order-form {
  width: 100%;
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-total {
  font-size: 24px;
  color: #ffd700; /* Gold color for the price */
}
.order-date {
  margin-bottom: 10px;
}
.customer-name {
  font-weight: bold;
}
.product-list {
  list-style: none;
  padding: 0;
}
.product-list li {
  border-top: 1px solid #555;
  padding: 8px 0;
}
.fulfilled-btn {
  background-color: #ffa500; /* Orange color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}
.status-indicator {
  background-color: #228b22; /* Forest Green */
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
}
