<div class="productDetail">
  <img class="productDetailImage" src="./img/logo.png" alt="Produktbild" />
  <p class="status">auf Lager</p>
  <div class="productDetailBody">
    <h1 class="productDetailTitle">Produktname</h1>
    <h3 class="productDetailDiscription">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
      voluptatem, adipisci nulla maiores ab provident assumenda deserunt
      aspernatur. Corrupti doloribus officia harum enim quasi, vitae non
      laudantium nulla sapiente dolor.
    </h3>
    <h4 class="productDetailPrice">1.79€</h4>
    <h5 class="productDetailInfotext">Inkl. Mehrwertsteuer</h5>
  </div>
</div>
