<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../' + locals.projectPath.viewPath.included.head) %>
  </head>
  <body>
    <%- include('../../' + locals.projectPath.viewPath.included.header.header,
    {page}) %>
    <main>
      <h1>
        Seite wurde nicht gefunden, bitte prüfe die URL oder kontaktiere den
        HOST
      </h1>
      <p>zurück zur <a class="btn btn_color" href="/">Startseite</a></p>
    </main>
    <%- include('../../' + locals.projectPath.viewPath.included.footer) %>
  </body>
</html>
