    <%- include("../included/head.ejs") %>
  </head>
  <body>
    <%- include("../included/header/header.ejs", {page}) %>
   <main>
    <h1>
        Etwas ist schief gelaufen, bitte versuche es später erneut.
   </h1>
   <p>zurück zur <a class="btn btn_color"href="/">Startseite</a></p>
</main>
    <%- include("../included/footer.ejs") %>
    
    </body>
    </html>

