<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../included/head.ejs") %>
    <title>OldStuff</title>
  </head>
  <body>
    <header><%- include("../included/header/header.ejs", {nav: nav}) %></header>
    <main class="pageStructure">
      <h1>Welcome at OldStuff!</h1>
      <h3>View our products, you'll find treasures.</h3>
    </main>
    <%- include("../included/footer.ejs") %>
  </body>
</html>
