<div class="productCard z-0">
  <img src="./img/logo.png" class="productCardImg" alt="Produktbild" />
  <p class="productCardStatus vorhanden">auf Lager</p>

  <div class="productCardBody">
    <div class="productCardHeader">
      <h5 class="productCardTitle">Produkt 1</h5>
    </div>
    <div class="productCardText_wrapper">
      <p class="productCardText">Ein besodners schönes Logo für Sie und Ihn.</p>
    </div>
    <div class="productCardFooter">
      <p class="productCardPrice">1.79€</p>
      <div class="productCardBtnGroup">
        <a href="/productDetail" class="btn btn_color">Add to Card</a>
        <a href="/productDetail" class="btn btn_color">Info</a>
      </div>
    </div>
  </div>
</div>
